<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lasallian Space</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <nav class="navbar">
        <div></div> <!-- Empty div for spacing -->
        <h1 class="navbar-title">LasallianSpace</h1>
        <button class="navbar-btn-add">+</button>
    </nav>

    <div class="posts">
        <section>
            <div class="container-post">
                <div class="content">
                    <h2>test content</h2>
                </div>
                <div class="reactions">
                    <button id="like"> :0 </button>
                    <button id="comment"> =</button>
                </div>
                <div class="comments">

                </div>
        </section>
    </div>
</body>
</html>